<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="jargon.css" type="text/css"/>
<link rev="made" href="mailto:esr@snark.thyrsus.com" />
<title>The Mantelpiece</title>
</head>
<body>
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:04 $</td>
</tr>
</table>

<img src='graphics/glider-small.png' align='left'/>
<h1 class="centered">Jargon File Resource Page Awards</h1>

<p>(Warning: this page is full of logo graphics and may take a while to load!
If you see broken graphics icons, get yourself a PNG-capable browser -- this
is a no-GIFs website.)</p>

<p>The Jargon File Resources page has received the following entirely
unsolicited awards:</p>

<ul>
<li>
<p>A <a href="http://www.mckinley.com">Magellan</a> 4-star rating (their
highest). Here's their logo: <img src="graphics/4star.png" align="middle"
alt="...sorry, can't display it!" /></p>
</li>

<li>
<p>An <a href="http://www.underground-online.com">Underground Online</a>
5-star rating (their highest). Here's their logo: <img
src="graphics/5star.png" align="middle"
alt="...sorry, can't display it!" /></p>
</li>

<li>
<p>Cool Site of the Day for 19 March 1996 from <a
href="http://www.newscientist.com">New Scientist</a>. Here's their logo: <img
src="graphics/sotd.png" align="middle"
alt="...sorry, can't display it!" /></p>
</li>

<li>
<p><a href="http://www.luckman.com/yp/yelcom.html">Luckman Interactive</a>
has declared this site a winner of their Five Star Award (their highest).
Here's their logo: <img src="graphics/luckman.png" align="middle"
alt="...sorry, can't display it!" /></p>
</li>

<li>
<p><a href="http://www.educationindex.com">The Education Index</a> named this
<a href="http://www.educationindex.com/award.html">``an outstanding
education-related site on the Web''</a>. Here's their logo: <img
src="graphics/eiaward.png" align="middle"
alt="...sorry, can't display it!" /></p>
</li>

<li>
<p><a href="http://www.zenation.com">Zenation</a> called this site one of the
coolest 100 on the Web. Click on the ``The Top 100'' Menu Item or link to see
the whole top 100 and where Zenation thought we fit in it.</p>
</li>

<li>
<p>Linux Magazine named this one of the Top 100 Linux sites. <img
src="graphics/lm100large.png" align="middle"
alt="...sorry, can't display it!" /></p>
</li>
</ul>

<p>To our knowledge, no rating service has ever given the Jargon File
Resources lower than its most excellent rating.</p>

<hr />
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:04 $</td>
</tr>
</table>
<br clear="left" />
<address>Eric S. Raymond <a
href="mailto:esr@thyrsus.com">&lt;esr@thyrsus.com&gt;</a></address>
</body>
</html>

