<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="jargon.css" type="text/css"/>
<link rev="made" href="mailto:esr@snark.thyrsus.com" />
<title>Updating JARGON.TXT Is Not Bogus: An Apologia</title>
</head>
<body>
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:06 $</td>
</tr>
</table>
<hr />
<img src='graphics/glider-small.png' align='left'/>
<h1 class="centered">Updating JARGON.TXT Is Not Bogus: An Apologia</h1>

<p>In the run-up to the first edition of The New Hacker's Dictionary, and in
the years since it was first published, reaction by hackers in general has
been positive to enthusiastic. On the other hand, I have been occasionally
but intensely flamed by some people associated with the original jargon file.
In general, these are people associated with one of the cultures spawned with
the DEC PDP-10 and its kin that flourished in the 1970s -- fans of SAIL,
TOPS-20, and especially ITS (but also including MULTICS hackers). For brevity
I group all these as `PDP-10' cultures below.</p>

<p>This page is addressed to those critics. If the PDP10-vs.-Unix culture
wars don't mean anything to you, you might as well skip it.</p>

<p>The criticisms I have received share a number of common themes:</p>

<ol>
<li>That any claim of connection to the old on-line JARGON.TXT or Steele-1983
(The Hacker's Dictionary) can only be a pretense and should be dropped.</li>

<li>That the UNIX and PDP-10 cultures are definitely separate and that mixing
old jargon with new material is inevitably confusing or misleading.</li>

<li>That I do not understand the PDP-10 cultures, am thus unequipped to
represent them, and should leave them and their artifacts alone.</li>

<li>That the effort necessarily ``rewrites history'' in a way that would
misrepresent the attitudes and ideas of PDP-10 fans now and in the past.</li>

<li>That PDP-10-derived entries should not be changed; that the most updating
acceptable to PDP-10ers would be to publish an annotated edition, with new
material kept rigidly separate from the old.</li>

<li>That the name of the effort should not be `the Jargon File' but something
different.</li>

<li>That the new material is UNIX-centric.</li>
</ol>

<p>In what follows, I will try to answer these points one by one.</p>

<p class="c2">1. That any claim of connection to the old on-line JARGON.TXT
or Steele-1983 (The Hacker's Dictionary) can only be a pretense and should be
dropped.</p>

<p>False by the most obvious test -- Guy Steele didn't think so, he sent me
softcopy of The Hacker's Dictionary to merge in, and I did so.</p>

<p>The new Jargon File incorporates nearly the entire body of THD, and thus
of the final version(s) of JARGON maintained on prep.ai.mit.edu and on the
ITS-import volumes on lcs.mit.edu. The revision was begun quite intentionally
as an update of that material, though I had no idea at that time that a
weekend hack was going to turn into a mega-project and a book.</p>

<p>After the fact, hackerdom at large has accepted the results as
incorporating both the matter and spirit of the original jargon file. In the
years since first publication of TNHD, the feedback I have received makes
this very, very clear. Even among PDP-10 fans, I have reason to believe that
discontent with the results is a minority position.</p>

<p>Therefore, whether jargon-2.x.x and subsequent versions are an
evolutionary descendent of JARGON.TXT cannot be in question; by every test,
it certainly is. Nevertheless, whether that continuity validly reflects a
cultural continuity is a fair question which I attempt to address below.</p>

<p class="c2">2. That the UNIX and PDP-10 cultures are definitely separate
and that mixing old jargon with new material is inevitably confusing or
misleading.</p>

<p>This is also false, though I have come to understand why ITSers tend to
believe it.</p>

<p>I first read the Jargon File while I was an ITS tourist in 1976. At that
time the ITS culture cast a long shadow over the ARPAnet -- not the least
because lots of people far outside MIT were impressed by the humor and spirit
of the old Jargon File. Many of us adopted the File's slang as our own,
feeling that we'd found a tangible sign of the community of minds we'd
half-guessed to be out there.</p>

<p>As UNIX burgeoned and networked microcomputers came into their own, the
PDP-10 and ITS influence receded in relative importance but remained with us
as a recognizable and honored strain in the evolving poly-culture of the
Internet.</p>

<p>Even though I call myself a UNIX hacker these days and haven't seriously
hacked LISP since the early 1980s, FROB and MOBY and all the rest have been
part of my cultural heritage for half my life -- and this is <strong>not in
the least unusual</strong>!</p>

<p>Yes, the UNIX community has an identity of its own. But enough of us have
the old JARGON.TXT as part of our roots that it would have done gross
violence to history <em>not</em> to start from there.</p>

<p class="c2">3. That I do not understand the PDP-10 cultures, am thus
unequipped to represent them, and should leave them and their artifacts
alone.</p>

<p>I don't claim perfect understanding; I don't need to. I am not interested
in eulogizing bygone days, but in creating a document that speaks to present
ones. If you want pure history, well, JARGON.TXT is out there. I make a point
of encouraging people who mirror the new Jargon File to carry the original as
well.</p>

<p>I suppose one might claim that I never knew the `real' ITS culture at all,
only its reflection in the File. I could probably argue that, because (among
other things) I cut my programming teeth on a PDP-10, I've known RMS since
the 1970s, visited the Lab back in the days of its glory, read a lot of the
folklore, and heard many of the war stories from one point of view or
another.</p>

<p>But I don't need to argue that either, because I'm not really interested
in `representing' PDP-10 culture per se and don't pretend to be doing so.</p>

<p>Yes, I think the ITS tradition had and still has much to offer (it would
be damn silly of me to think otherwise, considering that I composed this in
EMACS). But I didn't go into this intending to represent anybody at all, just
to distill some history and reports of current usage into an educational and
amusing whole.</p>

<p>That leads straight to:</p>

<p class="c2">4. That the effort necessarily "rewrites history" in a way that
would misrepresent the attitudes and ideas of PDP-10 fans (especially ITSers)
now and in the past.</p>

<p>This is really hubris. The wider hacker culture doesn't think of the file
as a historical document, but as a collection of intellectual graffiti.</p>

<p>To the extent that it <em>is</em> a historical document, it's become
mythic history to all of us -- a sort of hacker-culture Matter of Britain
indirectly chronicling the adventures of the Knights of the PDP-10 as they
strove against darkness and ignorance. That the real people involved had feet
of clay, and that things have changed a lot since then, is understood.</p>

<p>This oversimplifies in its own way, of course. It's also possible to
question just whose history the file mythologized on a more factual level.
The claim that my effort would rewrite ITS history in particular assumes a
cathedral-like purity the original didn't possess -- or am I just imagining
all the JARGON.TXT stuff from SAIL and WPI and CMU and elsewhere?</p>

<p class="c2">5. That PDP-10-derived entries should not be changed; that the
most updating acceptable to PDP-10ers would be to pub an annotated edition,
with new material kept rigidly separate from the old.</p>

<p>I have neither the ability nor the desire to nuke all existing copies of
JARGON.TXT. That should be sufficient answer by itself.</p>

<p>However, I do feel compelled to add that there seems something faintly
ludicrous about treating JARGON.TXT as a sacred, untouchable icon. Where has
the keen irreverence that was so much of the original's appeal gone?</p>

<p>Must I conclude that many of the playful geniuses of 1977 have soured into
a misanthropic gang of navel-gazing fuddy-duddies? That the only role they
can now imagine for the File is one which exalts history and makes only the
most grudging concessions to time and change?</p>

<p>I hope not. But more than once on this long strange trip I've felt a weird
sense of dislocation, of disbelief, of sadness -- because, among other
things, too many of the people willing to condemn the new File have done so
on the flimsiest basis, without having read it or offered constructive
criticisms. I simply could not reconcile the bold, youthful spirit of the
original jargon file with the peevish chuntering since emanating from some of
its would-be defenders.</p>

<p>To be fair, though, many critics do have the name issue separated from the
content issues. This leads to:</p>

<p class="c2">6. That the name of the effort should not be `the Jargon File'
but something different.</p>

<p>There have been times I was almost tempted to agree with this -- until I
thought about the contributions and reactions of the vast majority of the
people who've seen it. The revision process has acquired a momentum of its
own -- the fact that I've done it in public has changed the very conditions
under which we can debate what `is' or `is not' the One True Jargon File.</p>

<p>To the UNIX culture, USENET, and the whole world other than a minority of
the last PDP-10 purists, what I'm collecting <em>is</em> `the jargon';
functionally, linguistically, and mythically this document is as intimately
related to JARGON.TXT as it could possibly be and remain a celebration of the
present -- and if I were to change the official name to pacify disgruntled
PDP-10ers, the net as a whole would just nod and go on calling it the Jargon
File!</p>

<p>But even that ducks the most fundamental issue. Even if I <em>had</em> the
power to make people think of the new File as something else, <em>I wouldn't
do it</em>. It was long past time for JARGON.TXT to be superseded in 1991 --
it just wasn't representative any more; it no longer filled the communal
needs that originally earned it a special place in hacker folklore.</p>

<p>I guess I was responding to this in a half-conscious way when I began the
revision. I'm very conscious about it now, having received bucketfuls of
email expressing the most touching gratitude for reviving it, from old-timer
and newbie alike. It is clear that the new File, and its book form The New
Hacker's Dictionary. <em>does</em> fill those needs.</p>

<p>Please understand that I claim no special prescience about this; in a
weird way I even doubt I deserve much of the credit. When I started, I was
simply responding as a member of my culture to a conspicuous gap; if it
hadn't been me, it would've been somebody else (quite possibly someone
without my ties to the historical PDP-10 cultures who would have had far less
respect for the older parts of the material).</p>

<p>Finally, there is:</p>

<p class="c2">7. That the new material is UNIX-centric.</p>

<p>Of all the criticisms levelled at the effort, I think this is the single
one that really troubles me -- because I agree that it may be a problem, and
I'm not sure how I can fix it.</p>

<p>I could dismiss it by arguing that hacker <em>culture</em>, taken as a
whole, is now UNIX-centric; and that such a bias is appropriate, and part of
the flavor, just as (say) the anti-Multics bias in JARGON.TXT was in relation
to the TOPS-10 and ITS-dominated culture it was describing.</p>

<p>I have two problems with this. The first, which is more personal, is that
(even though I believe it's true) if I heard it from somebody else it would
sound lazy, too easy a copout for a guy who happens to be a professional UNIX
wizard. The second, which is more `social', is that it clearly raises the
risk of discounting and smothering contributions from vigorous `minority'
computing cultures that might otherwise add breadth and color to the
File.</p>

<p>I have tried to address the problem by making a special effort to
cultivate respondents from non-UNIX technical cultures (Mac fans, Multics
people, MS-DOS hackers, etc.) To some extent I've been able to lean on my own
career history, which happens to span an unusually broad range of machines
and languages. And there are a lot of entries from inside -- of all places --
<em>IBM</em> in the File.</p>

<p>Nevertheless, I feel continuing concern about this, and it is a respect in
which I would appreciate constructive help from ex-ITSers, PDP-10 fans of all
stripes, and everybody else.</p>

<p>Please -- rather than complaining that I am ``rewriting history'',
<em>help me write it</em>! I would <em>like</em> to have more entries that
are just as funny and snide about UNIX as JARGON.TXT was about other things,
preferably entries written by certified Unix-haters with a cursor dipped in
acid.</p>

<p>More generally, I would <em>like</em> to have entries that skewer present
computing environments by comparing them to `stone knives and bearskins',
providing only that they adduce something suitably illuminating and funny
about the PDP-10 traditions or their targets.</p>

<p>Please read the new Jargon File. Think about it. And then ask yourselves
what you can do that's <em>constructive</em>, that adds to the richness of
the culture and represents your viewpoints within it, rather than simply
trying to stop the effort or redirect it away from any particular herd of
sacred cows.</p>

<p>Please help me show that the true hacker spirit is still alive.</p>

<p>(This was an updated version of an article I originally posted to <a
href="news:alt.folklore.computers">alt.folklore.computers</a> in December
1991, entitled ``An Open Letter To The ITS Community''.)</p>

<hr />
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:06 $</td>
</tr>
</table>
<br />
<address>Eric S. Raymond &lt;esr@snark.thyrsus.com&gt;</address>
</body>
</html>

