<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="jargon.css" type="text/css"/>
<link rev="made" href="mailto:esr@snark.thyrsus.com" />
<title>Jargon File News</title>
</head>
<body>
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:06 $</td>
</tr>
</table>
<hr />

<img src='graphics/glider-small.png' align='left'/>
<div class="centered">
<h1 class='centered'>Jargon File News</h1>
</div>

<p>You will notice an unusually large number of changes, and especially
entry deletions before 4.4.0.  I did Google searches to check on entries
that I suspected were not actually live.  As a result, the amount of junk and
noise in the file has been greatly reduced.  I wish I could have done 
this years sooner.</p>

<img align='right' src='graphics/docbook-1.png'/>
<p>The Jargon File has undergone a major format change, from Texinfo
to XML-DocBook.  The most immediate consequences of this are that (a)
the File now has pictures and cartoons, (b) the &lsquo;one big
file&rsquo; version is gone, (c) the URLS to entries have
changed, and (d) there is a real <a href='changes.html'>change log
page</a> now.</p>

<p>The one-big-file version would no longer be very useful, because
the File now includes images and uses a CSS stylesheet.  I had planned
to preserve all relative URLs into the site, but there now seems
little point since I had to change websites in January 2003.</p>

<p>Getting rid of the nasty pile of hacks and kluges that the Texinfo
machinery had grown into was a Good Thing.  Maintenance of the Jargon
File will now be much simpler, and change tracking will work <a
href='changes.html'>much better</a>.  We apologize for any
inconvenience the change may cause.</p>

<p>Also, the archive of old versions now contains text versions of every
release we have been able to recover.  A few very early releases
(2.1.[234], 2.9[1-57-9]) are still missing.</p>

<hr />

<table width='100%' cellpadding='0' summary='Canned page header'>
<tr>
<td width='30%'>Back to <a href='/~esr'>Eric's Home Page</a></td>
<td width='30%' align='center'>Up to <a href='/~esr/sitemap.html'>Site Map</a></td>
<td width='30%' align='right'>14 Aug 2003</td>
</table>
<br />
<address>Eric S. Raymond <a
href="mailto:esr@thyrsus.com">&lt;esr@snark.thyrsus.com&gt;</a></address>
</body>
</html>
