<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="jargon.css" type="text/css"/>
<link rev="made" href="mailto:esr@snark.thyrsus.com" />
<title>Quoting the Jargon File</title>
</head>
<body>
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:07 $</td>
</tr>
</table>
<hr />

<img src='graphics/glider-small.png' align='left'/>
<h1 class="centered">General Conventions for Quoting</h1>

<p>The Jargon File is in the public domain, to be freely used, shared, and
modified. There are (by intention) no legal restraints on what you can do
with it, but there are conventions about its proper use which help people get
the best use out of it, and minimize hassles for the maintainers. They're
simple:</p>

<ul>
<li>Get the latest version to quote.</li>

<li>Cite the File correctly, with a version number and date.</li>

<li>Try to check with a maintainer before excerpting.</li>
</ul>

<p>These conventions are ways to cope with the fact that some of the File's
material dates rapidly. Quoting from or keeping around very old versions may
mislead people, and causes nasty headaches for the maintainers -- it's
frustrating to get repeated reports about bugs we fixed years ago. Helpful
detail follows.</p>

<h2>Get the latest version...</h2>

<p>Please check the <a href="index.html">Jargon File Resource Page</a> before
quoting to make sure you have the latest, freshest version. This is good for
your readers and helps the File's maintainers too.</p>

<h2>Cite the File correctly...</h2>

<p>Please extend the courtesy of proper citation when you quote the File,
ideally with a version number, as it will change and grow over time. Examples
of appropriate citation form: ``the Jargon File 4.1.0'' or ``The on-line
hacker Jargon File, version 4.1.0'' followed by a date. Of course, you want
to cite the correct current version.</p>

<p>The point of this practice is to clue in your readers when the quote might
become dated.</p>

<h2>Try to check with a maintainer...</h2>

<p>Although there is no legal requirement that you do so, it is considered
good form to check with the File maintainer(s) before excerpting the File in
a published work or commercial product. Email us at <a
href="mailto:jargon@thyrsus.com">jargon@thyrsus.com</a>; we may have
additional information that would be helpful to you, and can assist you in
framing your use to reflect not only the letter of the File but its spirit as
well.</p>

<hr />
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:07 $</td>
</tr>
</table>
<br clear="left" />
<address>Eric S. Raymond <a
href="mailto:esr@thyrsus.com">&lt;esr@snark.thyrsus.com&gt;</a></address>
</body>
</html>

