<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="jargon.css" type="text/css"/>
<link rev="made" href="mailto:esr@snark.thyrsus.com" />
<title>Other Resources Related to the Jargon File</title>
</head>
<body>
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:07 $</td>
</tr>
</table>
<hr />

<img src='graphics/glider-small.png' align='left'/>
<h1 class="centered">Other Resources Related to the Jargon File</h1>

<h2><a
href="http://www.roesler-ac.de/wolfram/acro/index.htm">Unix Acronyms</a></h2>

<p>There is a list of Unix acronyms with etymologies.</p>

<h2><a href="http://catb.org/~esr/faqs/hacker-howto.html">How To Become A Hacker</a></h2>

<p>Because I maintain the <a
href="http://www.catb.org/jargon">Jargon File</a>, I am often
asked this question by eager network newbies. </p>

<h2><a href="http://catb.org/~esr/faqs/hacker-hist.html">A Brief History of Hackerdom</a></h2>

<p>A companion document to "How To Become A Hacker". A historical
overview of hacker culture and how it got that way.</p> 

<h2><a href="http://catb.org/~esr/faqs/hacker-revenge.html">Revenge of the Hackers</a></h2>

<p>A followup to "A Brief History of Hackerdom", and part of the book
version of <a href="/~esr/writings/cathedral-bazaar/">The Cathedral
and the Bazaar</a>. This chronicles the events following January
1998 when the history of hackerdom became current events. </p>

<h2><a href="http://catb.org/~esr/faqs/loginataka.html">The Loginataka</a></h2>

<p>A Dialogue between a Guru and a Newbie, including Much that is Good
to Know concerning the Path to Wizardhood. Includes numerous
references to books valuable to the aspirant. A single HTML file,
easy to download.</p>

<h2><a href="http://catb.org/~esr/faqs/smart-questions.html">How To Ask Smart Questions</a></h2>

<p>How to ask questions of hackers in a way that makes it most likely
that you'll get a useful answer.</p>

<h2><a href='http://catb.org/~esr/writings/unix-koans/'>The Unix Koans of Master Foo</a></h2>

<p>Does a dog have the Unix-nature?  Three pounds of VAX!</p>

<hr />
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:07 $</td>
</tr>
</table>
<br />
<address>Eric S. Raymond <a
href="mailto:esr@thyrsus.com">&lt;esr@snark.thyrsus.com&gt;</a></address>
</body>
</html>

