<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rev="made" href="mailto:esr@snark.thyrsus.com" />
<link rel="stylesheet" href="jargon.css" type="text/css"/>
<title>You Too, Can Add an Entry!</title>
</head>
<body>
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:07 $</td>
</tr>
</table>
<hr />

<img src='graphics/glide-small.png' align='left'/>
<h1 class="centered">The Jargon File is a living document</h1>

<p>The Jargon File is a living document, an evolving resource chronicling the
language and culture of computer hackers. If you are a hacker, a linguist, a
cultural anthropologist, or just an intelligent person with something
relevant to contribute, it's your right and privilege to help it grow.</p>

<p>The Jargon File has always been maintained by volunteers. There's no
secret password or arcane protocol to getting an entry added or changed. Send
your suggested new entries, or changes to old ones, to <a
href="mailto:jargon@thyrsus.com">jargon@thyrsus.com</a>.</p>

<h1>Who the editors are</h1>

<p>The editorial "we" used below refers to the current volunteer editor of
the Jargon File and maintainer of the Jargon File Resource Pages, <a
href="http://www.tuxedo.org/~esr">Eric S. Raymond</a>, and the members of two
mailing lists who assist and advise him.</p>

<p>One mailing list, jargon-friends, is closed, it consists of the coauthors
of the original 1983 <cite>Hacker's Dictionary</cite>, Eric Raymond, and a
publisher representative. The other, jargon-helpers, is open to all
interested parties; mail to <a
href="mailto:jargon-helpers@ccil.org">jargon-helpers@ccil.org</a> to
join.</p>

<p>The editorship of the File has changed hands before and will again. If you
are steeped in hacker lore, expert by and fascinated with the language game,
and think you might be up to the job, please join jargon-helpers and show
us.</p>

<h1>How we evaluate suggestions</h1>

<p>Here are the questions we ask ourselves when we read what people send
us:</p>

<dl>
<dt><em>Is it really hacker slang?</em></dt>

<dd>
<p>An entry may be outside the File's scope if it's established technical
jargon that you'd find in a computer science or engineering textbook. Or if
it's mainstream slang used by hackers but not unique to hackers.</p>

<p>We are interested in expanding the File's range of technical specialties
covered. There are doubtless rich veins of jargon yet untapped in the
scientific computing, graphics, and networking hacker communities; also in
numerical analysis, computer architectures and VLSI design, language design,
and many other related fields.</p>

<p>We are <em>not</em> interested in straight technical terms explained by
textbooks or technical dictionaries unless an entry illuminates `underground'
meanings or aspects not covered by official histories. We are also not
interested in `joke' entries &mdash; there is a lot of humor in the file but it
must flow naturally out of the explanations of what hackers do and how they
think.</p>
</dd>

<dt><em>Is it really in live use?</em></dt>

<dd> <p>We don't want &lsquo;slang&rsquo; that's just the private
coinage of one or two people. We like to have two independent cites
for each entry (by &lsquo;independent&rsquo; we mean that they don't
come from two close friends or people with adjacent desks).</p>

<p>It is OK to submit items of jargon you have originated if they have spread
to the point of being used by people who are not personally acquainted with
you &mdash; but remember the &ldquo;two cites&rdquo; rule above.</p>
</dd>

<dt><em>How much provenance and usage information is attached?</em></dt>

<dd>
<p>All other things being equal, your entry will much more likely to
make it if you include not only the raw definition, but an at least
plausible story about where and by whom the term is used, and how it
originated. Some indication of the years in which it was or is current
is also valuable.  References to actual usage via URLs and/or DejaNews
or Google pointers are particularly welcomed.</p> 
</dd>

<dt><em>Will it help a newbie understand hackers and the net better?</em></dt>

<dd>
<p>One of the Jargon File's functions is to be a guide for the perplexed
newbie (and acculturate newbies who are proto-hackers into our grand
tradition). Entries get points for illuminating aspects of hacker culture
that newbies need to know, even if they seem obvious to long-time net
habitues or have become so ingrained in veteran hackers that they're
reflexive.</p>
</dd>

<dt><em>Does it show the hacker spirit?</em></dt>

<dd>
<p>The hacker spirit is like that famous judge's definition of pornography;
we don't know how to define it, but we know it when we see it. It's partly
intelligence, partly technical competence, partly wry humor, partly an
unabashed dedication to creativity and honesty and intellectual exploration,
all wrapped up in a tinkerer's itch to build something that actually
<em>works</em>. Every good thing the Jargon File can accomplish depends on
showing the hacker spirit.</p>
</dd>
</dl>

<p>We use Web search engines and DejaNews to check for live usage of terms.
If we can't find your term in live use, you'll have to work pretty hard to
persuade us that there's a real population that has it in production
vocabulary.</p>

<h1>How we edit entries</h1>

<p>All contributions and suggestions will be considered donations to be
placed in the public domain as part of the Jargon File, and may be used in
subsequent paper editions. Submissions may be edited for accuracy, clarity
and concision.</p>

<p>We fix spelling, syntax, and usage errors. We edit (usually
lightly) to get entries into a uniform style we think of as
&ldquo;highest-quality hacker&rdquo; &mdash; informal and only loosely
bound by conventional usage, but pithy, precise, and punchy.</p>

<p>We do not generally leave proper names in entries; this is to try to keep
getting into the Jargon File from becoming an ego contest. The way we like to
put it is that you can't get your name mentioned in the File unless you're
already so famous that most readers will recognize it.</p>

<p>However, this doesn't mean you should leave proper names out of
etymologies and the like. We keep mail archives which scholars may someday
excavate for more information (someday we'll probably HTMLize them and link
them to the Jargon File itself).</p>

<h1>Should I expect a reply?</h1>

<p>The editor(s) may be too busy to reply &mdash; this does not mean
you have been ignored. On the contrary, it usually means your material
has been incorporated.</p>

<p>You may get a reply that says your jargon has been placed &ldquo;on
watch&rdquo;.  This means the editors have been unable to confirm
independent use of the term elsewhere, but are keeping an eye out for a
second independent submission.</p>

<h1>When do old entries get deleted?</h1>

<p>Old entries usually get deleted when (a) they're no longer in live use,
and (b) they're not of sufficient interest as history. Occasionally an entry
will get deleted when usage searches via Google etc. suggest it
was never really live in the first place, or that it's actually
mainstream.  Deleted entries don't disappear, they go to a chaff file
which is accessible on this site.</p>

<p>An important point to note in this context is that <em>the Jargon
File is not a museum</em>. It has sometimes been suggested that no
entry should ever be deleted, just marked obsolete.  But the editors
(the current editors, anyway) are more interested in describing the
present than celebrating a vanished past, and do not wish the life to
be gradually choked from this lexicon by an accumulation of dusty
relics.  The File does has some entries that are shrines to history, but
we try to limit those to commemorations that retain strong educational or 
sentimental value.  Mere ephemera of past technologies and cultures,
unless they show the hacker spirit in some outstanding way, will be
moved to the chaff file as we notice them.</p>

<hr />
<table width="100%" cellpadding="0" summary="Canned page header">
<tr>
<td width="30%">Back to <a href="index.html">Jargon File Resources</a></td>
<td width="30%" align="center">Up to <a href="/~esr/sitemap.html">Site Map</a></td>
<td width="30%" align="right">$Date: 2003/10/27 05:33:07 $</td>
</tr>
</table>
<br clear="left" />
<address>Eric S. Raymond <a
href="mailto:esr@thyrsus.com">&lt;esr@snark.thyrsus.com&gt;</a></address>
</body>
</html>

