/* Jargon File stylesheet */

/* background image for all jargon pages */

/* 
 * Edit by agiacalone:
 * removed the background image to give a simpler, more modern
 * look to the jargon file pages. I also prefer dark modes,
 * so the css file has been altered to have dark background
 * on light text.
 */   

body {
	/* background-image: url(graphics/linen2d.jpg); */
        background-color: #1D2127;
        color: #CFD9E4;
 }

/* default colors used by Mozilla, Galeon, and IE */
a:link    {color: #6599EE;}
a:visited {color: #A697E9;}
a:link:active  {color: #E3776C;}

/* for the jargon file itself */
div.caption	{text-align: center; font-weight: bold;}
h3.title	{text-align: center;}
.mediaobject	{text-align: center;}

/* handles translation of <center> by tidy */
h1, h2, h3	{font-family: Helvetica, Helvetica, Helvetica}
h1.centered	{text-align: center;}
p.c2		{font-weight: bold}
